$mono: "Share Tech Mono", monospace;

$white: #d7e1f3;
$black: #040406;
$gray: #5a5a5a;
$white-2: #dcdcec;

$dark-blue: #0b0819;
$blue-2: #627eea;
$blue-3: #3387d5;
$blue-4: #7a06c9;
$blue-light: #6e56f840;
$dark-blue-2: #1c1731;
$gradient: linear-gradient(94.37deg, #3387d5 -5.94%, #7a06c9 115.34%);

$shadow-1: 0px 0px 5px rgba(255, 255, 255, 0.15);
$shadow-2: 0px 2px 10px rgba(255, 255, 255, 0.15);
$shadow-3: 0px 0px 50px rgba(255, 255, 255, 0.05);
$shadow-4: 0px 4px 10px rgba(255, 255, 255, 0.05);
